.table-sm {
   border-radius: 5%;
   text-align: center;
   min-width: 300px;
}

#myInput, #answer {
    border: none;
    background-color: gainsboro;  
}

.btn {
    width: 70px;
}

.btn-success {
    width: 290px;
}