body {
    color: red;
}
.table-sm {
   border-radius: 5%;
   text-align: center;
}

#myInput, #answer {
    border: none;
    background-color: gainsboro;  
}

.btn {
    width: 60px;
}

.btn-success {
    width: 120px;
}